<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <data>
        <!-- Menu Utama - Top Menu -->

		<menuitem id="cdn_pesantren_top_menu" name="Kesantrian" web_icon="alhamra_kesantrian,static/description/icon.png" />
        
        <!-- Menu Master Data -->
        <menuitem id="menu_pendidikan_sekolah" parent="cdn_pesantren_top_menu" name="Master Data" sequence="10" groups="alhamra_akademik.group_sekolah_admin"/>
        <menuitem id="menu_murid" parent="menu_pendidikan_sekolah" name="Siswa" action="alhamra_akademik.action_murid_form"/>
		<menuitem id="menu_guru" parent="menu_pendidikan_sekolah" name="Guru" action="alhamra_akademik.hr_employee_guru_open_action"/>
        <menuitem id="menu_orangtua" parent="menu_pendidikan_sekolah" name="Orang Tua" action="alhamra_akademik.action_orangtua_form"/>

        <!-- Menu Kepesantrenan -->
        <menuitem id="cdn_pesantren_sub_kepesantrenan" name="Kepesantrenan"  parent="cdn_pesantren_top_menu" sequence="20" />

        <!-- Menu Tahfidz -->
        <menuitem id="cdn_pesantren_menu_tahfidz" name="Tahfidz" parent="cdn_pesantren_sub_kepesantrenan" sequence="20" />
        <menuitem id="menu_absen_quran" name="Absen Tahfidz" parent="cdn_pesantren_menu_tahfidz" action="action_absen_quran_form" sequence="10"/>
        <menuitem id="menu_cdn_tahfidz_quran" name="Tahfidz Al Quran" parent="cdn_pesantren_menu_tahfidz" action="action_cdn_tahfidz_quran" sequence="20"/>
        

        <!-- Menu Tahsin -->
        <menuitem id="cdn_pesantren_menu_tahsin" name="Tahsin" parent="cdn_pesantren_sub_kepesantrenan" sequence="22" />
        <menuitem id="menu_absen_tahsin" name="Absen Tahsin" parent="cdn_pesantren_menu_tahsin" action="action_absen_tahsin_form" sequence="10"/>
        <menuitem id="menu_cdn_tahsin" name="Tahsin Al Quran" parent="cdn_pesantren_menu_tahsin" action="action_cdn_tahsin" sequence="20"/>

        <!-- Menu Hadits -->
        <menuitem id="cdn_pesantren_menu_hadits" name="Hadits" parent="cdn_pesantren_sub_kepesantrenan" sequence="25" />
        <menuitem id="menu_cdn_tahfidz_hadits" name="Tahfidz Hadits" parent="cdn_pesantren_menu_hadits" action="action_cdn_tahfidz_hadits" sequence="10"/>
        
        
        
         <!-- Menu Kepengasuhan -->
        <menuitem id="cdn_pesantren_menu_kepengasuhan" name="Kepengasuhan" parent="cdn_pesantren_sub_kepesantrenan" sequence="30" />
        <menuitem id="menu_cdn_mutabaah_harian" name="Mutabaah Harian" parent="cdn_pesantren_menu_kepengasuhan" action="action_cdn_mutabaah_harian" sequence="20"/>
        
		<!-- Menu Aktivitas Kesantrian -->
		<menuitem id="cdn_pesantren_sub_aktivitas" name="Aktivitas"  parent="cdn_pesantren_top_menu" sequence="30" />

        <menuitem id="menu_cdn_perijinan" name="Perijinan" parent="cdn_pesantren_sub_kepesantrenan" action="action_cdn_perijinan" sequence="10"/>
		
        <menuitem id="cdn_pesantren_aktivitas_detail1" name="Kesantrian" sequence="10" parent="cdn_pesantren_sub_aktivitas" web_icon="cdn_pesantren,static/description/icon.png" />
        
        <menuitem id="menu_cdn_pelanggaran" name="Pelanggaran" parent="cdn_pesantren_aktivitas_detail1" action="action_cdn_pelanggaran" sequence="20"/>
        <menuitem id="menu_cdn_kesehatan" name="Kondisi Kesehatan" parent="cdn_pesantren_aktivitas_detail1" action="action_cdn_kesehatan" sequence="30"/>
        <menuitem id="menu_cdn_prestasi_siswa" name="Prestasi siswa" parent="cdn_pesantren_aktivitas_detail1" action="action_cdn_prestasi_siswa" sequence="40"/>

        <!-- Menu Konfigurasi -->
        <menuitem id="cdn_pesantren_sub_konfigurasi" name="Konfigurasi" parent="cdn_pesantren_top_menu" sequence="40"/>
       
        <!-- Konfigurasi - Pesantren -->
        <menuitem id="cdn_pesantren_konfig_pesantren" name="Pesantren" parent="cdn_pesantren_sub_konfigurasi"  sequence="10"/>
        <menuitem id="menu_cdn_lokasi_fasilitas" name="Fasilitas Pesantren" parent="cdn_pesantren_konfig_pesantren" action="cdn_lokasi_fasilitas_action" groups="group_kesantrian_manager" sequence="10"/>
        <menuitem id="menu_cdn_kamar" name="Kamar Santri" parent="cdn_pesantren_konfig_pesantren" action="cdn_kamar_action" groups="group_kesantrian_admin" sequence="20"/>

        <!-- Konfigurasi - Tahfidz -->
        <menuitem id="cdn_pesantren_konfig_tahfidz" name="Tahfidz" parent="cdn_pesantren_sub_konfigurasi"  sequence="20"/>
        <menuitem id="menu_cdn_quran" name="Al Quran" parent="cdn_pesantren_konfig_tahfidz" action="action_cdn_quran" groups="group_kesantrian_manager" sequence="10"/>
        <menuitem id="menu_cdn_hadits" name="Daftar Hadits" parent="cdn_pesantren_konfig_tahfidz" action="action_cdn_hadits" groups="group_kesantrian_manager" sequence="20"/>
        <menuitem id="menu_cdn_nilai_tahfidz" name="Nilai tahfidz" parent="cdn_pesantren_konfig_tahfidz" action="action_cdn_nilai_tahfidz" groups="group_kesantrian_admin" sequence="30"/>
        <menuitem id="menu_cdn_level_tahsin" name="Level Tahsin" parent="cdn_pesantren_konfig_tahfidz" action="action_cdn_level_tahsin" groups="group_kesantrian_admin" sequence="40"/>
        <menuitem id="menu_cdn_sesi_tahfidz" name="Sesi Tahfidz" parent="cdn_pesantren_konfig_tahfidz" action="action_cdn_sesi_tahfidz" groups="group_kesantrian_admin" sequence="50"/>
        
        <!-- Konfigurasi - Lainnya -->
        <menuitem id="menu_cdn_mutabaah" name="Mutabaah" parent="cdn_pesantren_sub_konfigurasi" action="action_cdn_mutabaah" groups="group_kesantrian_admin" sequence="20"/>
        <menuitem id="menu_cdn_tindakan_hukuman" name="Tindakan Hukuman" parent="cdn_pesantren_sub_konfigurasi" action="action_cdn_tindakan_hukuman" groups="group_kesantrian_admin" sequence="40"/>
        <menuitem id="menu_cdn_pembagian_halaqoh" name="Pembagian Halaqoh" parent="cdn_pesantren_sub_konfigurasi" action="action_cdn_halaqoh" groups="group_kesantrian_admin" sequence="50"/>

    </data>
</odoo>
